* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "partials/spacing.scss";

.header {
  margin: 0 10%;
}
.container {
  margin: auto;
  width: 80%;
  background-color: gray;
  padding: 3em;
}
.title {
  text-align: start;
}
.nav-item {
  list-style: none;
  margin: 16px;
}
.navlist {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.nav-link-item {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
}
